<!--p1- ADD VIEW-->
@model CheeseMVC.ViewModels.AddCategoryViewModel

<h2>Add Category</h2>

<hr />
<div>
    <form asp-controller="Category" asp-action="Add" method="post">
        <div class="form-group">

            <label asp-for="Name"></label>
            <input asp-for="Name"/>
            <span asp-validation-for="Name"></span>

        </div>

        <input type="submit" value="Add Category" />

    </form>
</div>

<br />
<div>
    <a asp-action="Index">Back to Category List</a>
</div>

