<!--p1- VIEW ALL CATEGORIES-->
@model List<CheeseMVC.Models.CheeseCategory>

<h2>Category List</h2>

<ul>
    @foreach (var category in Model)
    {
        <li>@category.Name</li>
    }
</ul>

<!--p1- ADDING NAVIGATION LINKS-->
<p><a asp-controller="Category" asp-action="Add">Add Cheese Category</a></p>
