@model CheeseMVC.ViewModels.ViewMenuViewModel

@{ViewBag.Title = Model.Menu.Name; }

<div>

    <h2>
        @Model.Menu.Name
    </h2>

</div>

<div>
    <ul>
        @foreach (var cheeseMenu in Model.Items)
        {
            <li>
                @cheeseMenu.Cheese.Name
            </li>
        }
    </ul>
</div>

@if (Model.Items.Count == 0)
{
    <p><i>No Items on Menu</i></p>
}
<!--p3-LIST MENUS-->
<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>